<!DOCTYPE html>
<html>
  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="noticebar">
      <div class="container">
        <a href="http://notice-bar.herokuapp.com"><img src="http://cdn.shopify.com/s/files/1/0536/7125/files/header-logo.png?8"/></a>
        <p>This is the notice at the top of the page. <a href="#">Click Here</a></p>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="#"><img src="http://cdn.shopify.com/s/files/1/0536/7125/files/wider-logo.jpg" class="logo-img"/></a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
        <ul class="pull-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <div class="login">
        <h1>Install</h1>
          <div class="login-input">
            <form action="/login" method="post">
              <input type="url" name="shop" placeholder="Shop URL">
              <input type="submit" value="Install App" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="learn-more">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Easy to Install</h3>
            <p>Install yourself with our quick video, or have us do it for you</p>
            <p>
              <a href="#">Set it up Now</a>
            </p>
          </div>

          <div class="col-md-4">
            <h3>Sell More</h3>
              <p>Ensure Customers notice your sales and make them more likely to buy</p>
            <p><a href="#">Learn more</a></p>
          </div>

          <div class="col-md-4">
            <h3>Fully Customizable</h3>
              <p>No Coding Necessary, we let you fully personalize the Notice Bar whenever you want</p>
              <p><a href="#">Learn more about Personalization</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
