<div class="noticebar-setup">
  <div class="container">
    <a href="http://notice-bar.herokuapp.com"><img src="http://cdn.shopify.com/s/files/1/0536/7125/files/header-logo.png?8"/></a>
    <p id="notice-bar-content"><%= heading_text %> <a href="<%= link_address %>"><%= link_text %></a></p>
  </div>
</div>
